/* ########## MOBILE ########### */
/* ##### Header ##### */
/* Mobile grande / início tablet (até 640px) */
@media (max-width: 1299px) {
    .navbar-desktop .nav-list{
        display: none;
    }

    .navbar-mobile{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .nav-mobile .nav-row{
        padding-left: 100px;
    }

    .hero-grid{
        grid-template-columns: 1fr;
        gap: 24px;
    }

    .nav-scroll{
  display: flex;
  gap: 22px;
  padding: 12px 16px;

  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;

  -webkit-overflow-scrolling: touch; /* iOS suave */
  scroll-snap-type: x mandatory;     /* “encaixa” */
}

.nav-scroll a{
  flex: 0 0 auto;
  scroll-snap-align: start;

  text-decoration: none;
  color: #111;
  font-weight: 500;
  padding: 10px 12px;
  border-radius: 999px;
}

.nav-scroll a:active{
  background: rgba(15,42,120,.08);
}

/* esconder a scrollbar (opcional) */
.nav-scroll::-webkit-scrollbar{ display: none; }
.nav-scroll{ scrollbar-width: none; }

.nav-scroll-wrap{
  position: relative;
}

.nav-scroll-wrap::before,
.nav-scroll-wrap::after{
  content:"";
  position:absolute;
  top:0; bottom:0;
  width: 28px;
  pointer-events:none;
}

.nav-scroll-wrap::before{
  left:0;
  background: linear-gradient(to right, #fff, transparent);
}
.nav-scroll-wrap::after{
  right:0;
  background: linear-gradient(to left, #fff, transparent);
}

}

@media (max-width: 760px){
  .btn-section{
    flex-direction: column;
    align-items: center;
    margin-left: 0px;
}
}


/* ##### Hero Section ##### */
/* Mobile: vira 1 coluna */
@media (max-width: 992px){
  .hero-grid{
    grid-template-columns: 1fr;
  }
  .hero-right .hero-art{
    margin: 0 auto;
    max-width: 90%;
  }
}

@media (max-width: 989px) {
    .hero-right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-right img{
    width: min(1000px, 100%);
    height: auto;
    display: block;
}

}

@media (max-width: 700px) {
  .hero-content h1{
    font-size: 38px;
}
}




/* Main Section */
@media (max-width: 992px) {
  .card-grid{
      grid-template-columns: repeat(1, 1fr);
      max-width: 90%;
      margin: 0 auto;
  }
}


