/* Logo COnfig. */
.logo{
    width: 120px;
    height: 38px;
}

/* Navbar Config. */
.navbar{
    height: 75px;
    background-color: #F8FAFC;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(226, 226, 226);
}

.nav{
    height: 75px;
    width: 72%;      /* Configure a largura do menu de navegação aqui */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .nav-list{
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav .nav-list .nav-row{
    margin: 15px;
}

.nav .nav-list .nav-row .nav-link{
    position: relative;
    font-weight: 500;
    text-decoration: none;
    color: #0F172A;
    font-size: 14.5px;
    padding: 0.6rem;
    border-radius: 100px;
    cursor: pointer;
    transition: all 1s ease;
}

.nav .nav-list .nav-row .nav-link:hover{
    color: #1E3A8A;
    transition: all 1s ease;
}

.nav .nav-list .nav-row .nav-link:hover::after{
    transform: scaleX(1);                /* Controla o underline animado */
}

.nav .nav-list .nav-row .nav-link::after{
    content: "";
    position: absolute;                  /* Controla o underline animado */
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 2px;
    background: #1E3A8A;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

#btn-cta{
    font-size: 14.5px;
    border: none;
    padding: 0.6rem;
    width: 140px;
    border-radius: 100px;
    color: #fff;
    background-color: #1E3A8A;
    transition: all 0.4s ease;
    cursor: pointer;
}

#btn-cta:hover{
    color: #1E3A8A;
    background-color: #fff;
    border: 1px solid #1E3A8A;
    transition: all 0.4s ease;
}



.navbar-mobile{
    display: none;
}



/* ##### Hero Section Congif. ##### */
/* Slogom + Hero Gradient Text  + CTA BTN Style */

#slogan{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1E3A8A;
    background-color: #D9E0F1;
    font-size: 12px;
    padding: 0.6rem;
    width: 260px;
    height: 32px;
    border-radius: 100px;
    border-bottom: 1px solid rgb(226, 226, 226);
    box-shadow: 0 8px 8px rgba(0,0,0,0.15);
}

.gradient-text{
    background: #3A6DFF;

    background: -webkit-linear-gradient(to right, #2C54C5, #AA6BE8, #3A6DFF);
    background: linear-gradient(to right, #2C54C5, #AA6BE8, #3A6DFF);

    -webkit-background-clip: text;
    background-clip: text;

    -webkit-text-fill-color: transparent;
    color: transparent;
}

/* BTN Section */
.btn-section{
    display: flex;
    gap: 16px;
}

.btn-order{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    text-decoration: none;
    border: none;
    padding: 0.8rem;
    width: 250px;
    border-radius: 100px;
    color: #fff;
    background-color: #1E3A8A;
    transition: all 0.4s ease;
    cursor: pointer;
    box-shadow: 0 8px 8px rgba(0,0,0,0.15);
}

.btn-order:hover{
    color: #1E3A8A;
    background-color: #fff;
    border: 1px solid #1E3A8A;
    transition: all 0.4s ease;
}

.btn-github{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    text-decoration: none;
    border: none;
    padding: 0.8rem;
    width: 250px;
    border-radius: 100px;
    color: #1E3A8A;
    background-color: #fff;
    transition: all 0.4s ease;
    cursor: pointer;
    border: 1px solid #1E3A8A;
    box-shadow: 0 8px 8px rgba(0,0,0,0.15);
}

.btn-github:hover{
    color: #F8FAFC;
    background-color: #1E3A8A;
    transition: all 0.4s ease;
}



.hero-logo-bg{
    position: absolute;
    right: -40px;
    bottom: -100px;
    width: 500px;
    /*filter: blur(2px);*/
    z-index: 0;
}

/* Resume */

.hero-content p{
    color: #454f67;
    font-size: 18px;
}

.hero-content h1{
    font-size: 55px;
}

.hero-grid {
  display: grid;
  grid-template-columns: 1.1fr 0.9fr; /* esquerda maior, direita menor */
  gap: 80px;                         /* Define a largura premitida para o "Web Design Estratégico e Crescimento Digital" e restante */
  align-items: center;
}

.hero-right .hero-art{
  position: relative;
  width: 100%;
  max-width: 520px;
  margin-left: auto;
}

.hero-right img{
  width: 38rem;
  display: block;
}